<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/display.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/insert/customers">Insert</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/display">Display</a>
          </li>
         
          <li class="nav-item active">
              <a class="nav-link" href="/update">Update</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link active" href="/delete">Delete</a>
              </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
<div>
<div class="container">
  <div class="col-md-6 mx-auto text-center">
	 <div class="header-title">
		<h1 class="wv-heading--title">
		 Display Info
		</h1>
	 </div>
  </div>

   <div class="container mx-auto">
    
    <table class="table table-bordered ">

        <tr>
            <th class="tav">Id </th>
            <th class="tav">Name</th>
            <th class="tav">SID</th>
            <th class="tav">Mfg</th>
            <th class="tav">Exp</th>
            <th class="tav">Price</th>
        </tr>
        <% for(var i=0;i< Id.length; i++){ %>
            <tr>
                    <td>
                      <%= Id[i]%>
                    </td>
                    <td>
                      <%= Name[i]%>
                    </td>
                    <td>
                            <%= SID[i]%>
                          </td> 
                          <td>
                                <%= Mfg[i]%>
                              </td> 
                              <td>
                                    <%= Exp[i]%>
                                  </td> 
                                  <td>
                                        <%= Price[i]%>
                                      </td>
            </tr>
                <% } %>
    </table>



    </div>



  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>